[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    duplicate-code,
    too-many-instance-attributes,
    import-outside-toplevel,
    too-many-ancestors,
